<%if @order_items%>
  <% @order_items.each do |order_item| %>
    <h3><%= order_item.item.title %></h3>
    <h3><%= order_item.item.price %></h3>

  <%end%>
  <% sum = @order_items.sum('totalamount') %>
<%end%>
  <H2>Total Amount : <%= sum %></h2>

