<h1>Cart#show</h1>
<%if @order_items %>
    <% @order_items.each do |order_item|%>
    <%= order_item.item_id %>
    <%= Item.find(order_item.item_id).title %>

    <br>
    <%end%>
    <%= @order_items.sum(:'totalamount') %>
<%else%>
  <p>Find me in app/views/cart/show.html.erb</p>
<%end%>
