
<% @orders.each do |order| %>
  <h5><%= order.id %></h5>
  <h6>Amount<%= order.total %></h6>
  <h6>Status = <%= order.status%></h6>
  <h6>Update at : <%= order.updated_at %></h6>
  <br>
<%end%>






